<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HaiKei</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
        <header class="main-header">
            <div class="container">
                <h1 class="mh-logo">
                    <a href="/"><img src="./img/logo.webp" width="170" height="95" alt="GenericAnimeWeb"></a>
                </h1>
                <nav class="main-nav">
                    <ul class="main-nav-list">
                        <li><label class="search"><input type="text" id="search-box" placeholder="Search"></label></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/trending">Trending</a></li>
                        <li><a href="/genres">Genres</a></li>
                    </ul>
                </nav>
            </div>
        </header>
<div class="new-releases">
<h1 class="new_releases header">New Releases</h1>
<div class="grid-wrapper">
            <% allData.animeId.forEach(card => { %>
                <li class="splide__slide" onclick="window.location.href = `${window.location.origin}/watch/<%- card.episodeId %>`">
                    <img src="<%- card.image %>" alt="<%- card.title %>" style="width: 164px; height: 231px; align-self: center"> 
                    <p class="splide__animeTitle"><%- card.title %></p>
                    <p class="splide__episodeNum">Episode:  <%- card.episodeNumber %></p>
                </li>
            <% }) %>
		</ul>
</div>
<script src="./js/main.js"></script>
<!-- <script src="./js/recent-release.js"></script> -->
</body>
</html>