<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= genre %> - HeiKei</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.21/dist/js/splide.min.js"></script>
<link rel="stylesheet" href="/vendor/splide/css/splide.css">
    <script src="/js/splide__fn.js"></script>
    <header class="main-header">
        <div class="container">
            <h1 class="mh-logo">
                <a href="/"><img src="/img/logo.webp" width="170" height="95" alt="GenericAnimeWeb"></a>
            </h1>
            <nav class="main-nav">
                <ul class="main-nav-list">
                    <li><label><input type="text" id="search-box" placeholder="Search"></label></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/trending">Trending</a></li>
                    <li><a href="/genres">Genres</a></li>
                </ul>
            </nav>
        </div>
    </header>
<% var genreF = genre; %>
<script>
    var genre = "<%= genreF %>"; // yes this is the only way to change a variable from being owned by ejs to js
    genreProper = genre[0].toUpperCase() + genre.substring(1);
    
</script>
<div class="new-releases">
<div class="splide">
    <h1 id="genre_list_header" class="new_releases header"></h1>
  <div class="splide__track" id="popular__track">
		<ul id="splide__list" class="splide__list">
        <% listings.results.forEach((ep) => { %>
            <li class="splide__slide" onclick="window.location.href=`/watch/<%= ep.title.romaji.replace(/ /g, '-').replace('.', '').replace('/', '').replace('?', '').replace(/:/g, '').replace(/!/g, '').replace('∞', '').replace(/☆/g, '-').replace(/;/g, '').replace(/~/g, '').replace(/ä/g, 'a')%>-episode-1`">
            <img style="width: 164px; height: 231px; align-self: center;" src="<%- ep.image %>" alt="<%- ep.title.userPreferred %>">
                <div title="<%- ep.number %>" class="name">
                <p class="splide__animeTitle"><%- ep.title.userPreferred %></p>
                <p class="splide__releaseDate">Released: <%- ep.releaseDate %></p>
                </div>
                </a>
            </li>	
        <% }) %>
		</ul>
  </div>
</div>
</div>
<script>
    carouselInit()
    carousel.mount();
</script>
<script src="/js/main.js"></script>
</body>
</html>