<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= genre %> - Karasu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/m.min.css">
    <link rel="stylesheet" href="/css/watchpage.css">
</head>
<body>
<div id="xwrapper">
<%- include('templates/header') %>
    <div id="xmain-wrapper">
        <div id="mw-top">
            <div class="container">
            <div class="mwt-content">
            <div class="mwh-logo">
                    <div class="clearfix"></div>
                </div>
            <div class="xhashtag">
            <span class="title">Top search:</span>
            <a href="/search?query=One%20Piece" class="item">One Piece</a>
            <a href="/search?query=Naruto%3A%20Shippuden" class="item">Naruto: Shippuden</a>
            <a href="/search?query=Mugen Train" class="item">Demon Slayer Movie: Mugen Train</a>
            <a href="/search?query=Boruto%3A%20Naruto%20Next%20Generations" class="item">Boruto: Naruto Next Generations</a>
            <a href="/search?query=Naruto" class="item">Naruto</a>
            <a href="/search?query=Sorcery+Fight" class="item">Jujutsu Kaisen (TV)</a>
            <a href="/search?query=Boku+No+Hero+Academia+5th+Season" class="item">My Hero Academia 5th Season</a>
            <a href="/search?query=Demon%20Slayer%3A%20Kimetsu%20no%20Yaiba" class="item">Demon Slayer: Kimetsu no Yaiba</a>
            <a href="/search?query=Attack%20on%20Titan" class="item">Attack on Titan</a>
            <a href="/search?query=Black%20Clover" class="item">Black Clover</a>
            </div>
            <div class="clearfix"></div>
            </div>
            </div>
            </div>
            </div>
    </div>
</div>
<% var genreF = genre; %>
<script>
    var genre = "<%= genreF %>"; // yes this is the only way to change a variable from being owned by ejs to js
    genreProper = genre[0].toUpperCase() + genre.substring(1);
    
</script>
<div class="new-releases">
<div class="splide">
    <h1 id="genre_list_header" class="new_releases header"></h1>
        <div class="grid-wrapper-new-release">
            <% listings.results.forEach((ep) => { %>
                <li class="splide__slide">
                <a class="searchLink" href="/watch/<%= ep.malId %>/1"></a>
                    <img style="width: 164px; height: 231px; align-self: center;" src="<%- ep.image %>" alt="<%- ep.title.userPreferred %>">
                    <p style="margin-top: 30px;" class="splide__animeTitle"><%- ep.title.userPreferred  %></p>
                    <p class="splide__releaseDate">Released: <%- ep.releaseDate %></p>
                </li>	
            <% }) %>
            </ul>
        </div>
</div>
</div>
<%- include('templates/footer') %>
<%- include('templates/login_modals') %>
<script>
</script>
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
    $("#xheader_browser").click(function (e) {
        $("#xheader_menu, #xheader_browser").toggleClass("active");
    });
        $(".register-tab-link").click(function (e) {
        $("#modal-tab-register").addClass("active show"),
        $("#modal-tab-login").removeClass("active show");
    })
        $(".forgot-tab-link").click(function (e) {
        $("#modal-tab-forgot").addClass("active show"),
        $("#modal-tab-login").removeClass("active show");
    }),
        $(".login-tab-link").click(function (e) {
        $("#modal-tab-login").addClass("active show"),
        $("#modal-tab-register, #modal-tab-forgot").removeClass("active show");
    })
});
</script>
</body>
</html>