<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://site-assets.fontawesome.com">
    <title>Genres - HaiKei</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/index-redesign.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="full-doc">
    <%- include("./templates/sidenav.ejs") %>
    <%- include("./templates/navbar.ejs") %>

    <h1 class="search-by-genre-header">Search By Genre: </h1>
    <div class="genre-container grid-container">
        <%# card[String(Object.getOwnPropertyNames(card)[i])] %>
        <% genreData.genres.forEach((card) => { %>
            <% for (i = 0; i < Object.getOwnPropertyNames(card).length; i++) { %>
                <a href="/genre?sort=<%- card[String(Object.getOwnPropertyNames(card)[i])].genre_name.toLowerCase() %>" class="genre-card">
                    <div style="background-image: url('<%- card[Object.getOwnPropertyNames(card)[i]].image_url %>')" class="genre-image"></div>
                    <p class="genre-title splide__animeTitle"><%- card[String(Object.getOwnPropertyNames(card)[i])].genre_name %></p>
                </a>
            <% } %>
        <% }) %>
    </div>

    <%- include("./templates/user-modals.ejs") %>

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js" integrity="sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/modals.js"></script>
</body>
</html>