<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - HaiKei</title>
    <link rel="stylesheet" href="/css/m.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/watchpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body data-page="page_index">
<div id="mask-overlay"></div>
<% if (loginState == true) { %>
        <div class="modal fade premodal premodal-login" id="modalUserInfo" tabindex="-1" role="dialog"
            aria-labelledby="modallogintitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="tab-content">

                        <div id="modal-tab-userinfo" class="tab-pane active">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle">Welcome back, <%- username %>!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span style="bottom: 5%; left: 25%; position: absolute;" aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                                            
                            <h5 style="text-align: center;">Account Info</h5>

                            <h6 style="text-align: center;">Username: <%- username %></h6>
                            <br>
                            <div style="display: flex; justify-content: center;" class="input-wrapper">
                            <label style="margin-bottom: 0; margin-right: 5px;" for="videoSource">Video Source</label>
                            <select class="videoSourceSelector" name="videoSource" id="videoSource">
                                <option id="gogoanime" value="gogoanime">Gogoanime</option>
                                <option id="zoro" value="zoro">Zoro</option>
                            </select>
                            </div>
                            <br>
                            <form method="POST" action="/logout">
                                <button type="submit" class="btn btn-block btn-logout">Logout</button>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <input type="hidden" name="returnURL" value="<%= url %>">
                            </form>
                            </div>
                        </div>
                        <div id="modal-tab-forgot" class="tab-pane fade">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="padding-bottom: 20px;">
                                <form class="preform" action="/signup">
                                    <div class="form-group">
                                        <label class="prelabel" for="forgot-email">Your Email</label>
                                        <input type="text" class="form-control" id="forgot-email"
                                            placeholder="name@email.com" disabled>
                                    </div>
                                    <div class="form-group login-btn mb-0">
                                        <a href="#" class="btn btn-primary btn-block" disabled>Forgot your
                                            password</a>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                <a class="link-highlight login-tab-link" title=""><i
                                        class="fas fa-angle-left mr-2"></i>Back to
                                    Sign-in</a>
                            </div>
                        </div>

                        <div id="modal-tab-register" class="tab-pane fade">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger mb-5" id="register-error" style="display: none;"></div>
                                <form class="preform" method="post" action="/signup" id="register-forms">
                                    <div class="form-group">
                                        <label class="prelabel" for="re-email">Email Address</label>
                                        <input type="text" class="form-control" id="re-email" 
                                            placeholder="example@example.com" name="email" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-email">Username</label>
                                        <input type="text" class="form-control" id="re-email" 
                                            placeholder="Alice" name="username" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-password">Password</label>
                                        <input type="password" class="form-control" id="re-password" 
                                            placeholder="Password" name="password" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-confirmpassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="re-confirmpassword" 
                                            placeholder="Confirm Password" name="confirm_password" required="">
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                    <div class="form-group login-btn mb-0">
                                        <button id="btn-registers" type="submit" class="btn btn-primary btn-block">Register</button>
                                        <div class="loading-relative" id="register-loading" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                Have an account? <a class="link-highlight login-tab-link" title="Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% } else { %>
        <div class="modal fade premodal premodal-login" id="modallogin" tabindex="-1" role="dialog"
            aria-labelledby="modallogintitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="tab-content">

                        <div id="modal-tab-login" class="tab-pane active">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle">Welcome back</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger mb-5" id="login-error" style="display: none;"></div>
                                <form method="POST" class="preform" id="login-forms" action="/login/password">
                                    <div class="form-group">
                                        <label class="prelabel" for="username">Username</label>
                                        <input type="text" class="form-control" id="username" placeholder="Alice"
                                            name="username" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="password">Password</label>
                                        <input type="password" class="form-control" id="password" placeholder="Password"
                                            name="password" required>
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="returnURL" value="<%= url %>">
                                    </div>
                                    <div class="form-check custom-control custom-checkbox">
                                        <div class="float-left">
                                            <input value="true" name="remember" type="checkbox" class="custom-control-input" id="remember">
                                            <label for="remember" class="custom-control-label">Remember me</label>
                                        </div>
                                        <div class="float-right">
                                            <a href="#" class="link-highlight text-forgot forgot-tab-link">Forgot
                                                password?</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                    <div class="form-group login-btn mb-0">
                                        <button id="btn-logins" type="submit" class="btn btn-primary btn-block">Login</button>
                                        <div class="loading-relative" id="login-loading" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                Don't have an account? <a class="link-highlight register-tab-link"
                                    title="Register">Register</a>
                            </div>
                        </div>


                        <div id="modal-tab-forgot" class="tab-pane fade">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle3">Reset Password</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body" style="padding-bottom: 20px;">
                                <form class="preform" action="/signup">
                                    <div class="form-group">
                                        <label class="prelabel" for="forgot-email">Your Email</label>
                                        <input type="text" class="form-control" id="forgot-email"
                                            placeholder="name@email.com" disabled>
                                    </div>
                                    <div class="form-group login-btn mb-0">
                                        <a href="#" class="btn btn-primary btn-block" disabled>Forgot your
                                            password</a>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                <a class="link-highlight login-tab-link" title=""><i
                                        class="fas fa-angle-left mr-2"></i>Back to
                                    Sign-in</a>
                            </div>
                        </div>

                        <div id="modal-tab-register" class="tab-pane fade">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modallogintitle2">Create an Account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger mb-5" id="register-error" style="display: none;"></div>
                                <form class="preform" method="post" action="/signup" id="register-forms">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="form-group">
                                        <label class="prelabel" for="re-email">Email Address</label>
                                        <input type="text" class="form-control" id="re-email" 
                                            placeholder="example@example.com" name="email" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-email">Username</label>
                                        <input type="text" class="form-control" id="re-email" 
                                            placeholder="Alice" name="username" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-password">Password</label>
                                        <input type="password" class="form-control" id="re-password" 
                                            placeholder="Password" name="password" required="">
                                    </div>
                                    <div class="form-group">
                                        <label class="prelabel" for="re-confirmpassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="re-confirmpassword" 
                                            placeholder="Confirm Password" name="confirm_password" required="">
                                    </div>
                                    <div class="mt-4">&nbsp;</div>
                                    <div class="form-group login-btn mb-0">
                                        <button id="btn-registers" type="submit" class="btn btn-primary btn-block">Register</button>
                                        <div class="loading-relative" id="register-loading" style="display: none;">
                                            <div class="loading">
                                                <div class="span1"></div>
                                                <div class="span2"></div>
                                                <div class="span3"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer text-center">
                                Have an account? <a class="link-highlight login-tab-link" title="Login">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% } %>
<div id="xwrapper">
    <div id="xheader">
        <div class="container">
            <div id="xheader_browser">
                <div class="header-btn"><i class="fas fa-bars mr-2"></i>Menu</div>
            </div>
                <div id="xheader_menu">
                
                    <ul class="nav header_menu-list">
                        <a href="/">
                            <img width="200px" height="auto" class="logo" src="/img/logo.png" alt="">
                        </a>
                        <li class="nav-item"><a href="/" title="Home">Home</a></li>
                        <li class="nav-item"><a href="/trending" title="Popular Anime">Popular Anime</a></li>
                        <li class="nav-item"><a href="/genres" title="Anime By Genre">Genres</a></li>
                        <% if (loginState == true) { %>
                            <li class="nav-item"><a data-toggle="modal" data-target="#modalUserInfo"><%- username %></a></li>
                        <% } else { %>
                            <li class="nav-item" ><a data-toggle="modal" data-target="#modallogin">Login</a></li>
                        <% } %>
                        <li class="nav-item input-nav-item"><input id="searchanime" class="submit" type="search" placeholder="Search..."></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div id="xmain-wrapper">
        <div id="mw-top">
            <div class="container">
            <div class="mwt-content">
            <div class="mwh-logo">
                    <div class="clearfix"></div>
                </div>
            <div class="xhashtag">
            <span class="title">Top search:</span>
            <a href="/search?query=One%20Piece" class="item">One Piece</a>
            <a href="/search?query=Naruto%3A%20Shippuden" class="item">Naruto: Shippuden</a>
            <a href="/search?query=Mugen Train" class="item">Demon Slayer Movie: Mugen Train</a>
            <a href="/search?query=Boruto%3A%20Naruto%20Next%20Generations" class="item">Boruto: Naruto Next Generations</a>
            <a href="/search?query=Naruto" class="item">Naruto</a>
            <a href="/search?query=Sorcery+Fight" class="item">Jujutsu Kaisen (TV)</a>
            <a href="/search?query=Boku+No+Hero+Academia+5th+Season" class="item">My Hero Academia 5th Season</a>
            <a href="/search?query=Demon%20Slayer%3A%20Kimetsu%20no%20Yaiba" class="item">Demon Slayer: Kimetsu no Yaiba</a>
            <a href="/search?query=Attack%20on%20Titan" class="item">Attack on Titan</a>
            <a href="/search?query=Black%20Clover" class="item">Black Clover</a>
            </div>
            <div style="height: 60px;" class="clearfix"></div>
            </div>
            </div>
            </div>
            </div>
    </div>
</div> 
<% if (loginState == true) { %>
    <div id="continue-watching" class="new-releases">
        <h1 class="new_releases header">Continue Watching..</h1>
        <div id="continue-watching-grid" class="grid-wrapper-continue-watching">
            
        </div>
    </div>
<% } %>


<div class="new-releases">
<h1 class="new_releases header">New Releases</h1>
<div id="recent-releases" class="grid-wrapper-new-release">
                <% recentReleases.forEach(card => { %>
                    <li class="splide__slide">
                    <a class="searchLink" href="/watch/<%- card.episodeId %>"></a>
                        <img src="<%- card.image %>" alt="<%- card.title %>" style="width: 164px; height: 231px; align-self: center"> 
                        <p class="splide__animeTitle"><%- card.title %></p>
                        <p class="splide__episodeNum">Episode:  <%- card.episodeNumber %></p>
                    </li>
                <% }) %>
                <% recentReleases2.forEach(card => { %>
                    <li class="splide__slide">
                    <a class="searchLink" href="/watch/<%- card.episodeId %>"></a>
                        <img src="<%- card.image %>" alt="<%- card.title %>" style="width: 164px; height: 231px; align-self: center"> 
                        <p class="splide__animeTitle"><%- card.title %></p>
                        <p class="splide__episodeNum">Episode:  <%- card.episodeNumber %></p>
                    </li>
                <% }) %>
		    </ul>
        </div>
    </div>
</div>
<script>
let msg = "%c Hi 👋! Welcome to HaiKei!"; 
let styles= [ 
    'font-size: 18px', 
    'font-family: monospace', 
    'background: white', 
    'color: black', 
    'padding: 8px 19px',  
].join(';') 
console.log(msg, styles);

               
</script>
<div style="display:none;">

</div>

</div>
<div class="clearfix"></div>
<div id="footer" style="margin-top: 40px;" data-settings='{"auto_play":1,"auto_next":1,"auto_load_comments":0,"enable_dub":0,"anime_name":"jp","play_original_audio":0}'>
<div id="footer-about">
    <div class="container">
        <div class="footer-top">
            <a href="/" class="footer-logo">
                <img src="/img/logo.png" alt="HaiKei">
                <div class="clearfix"></div>
            </a>
            <div class="footer-joingroup">
                <div class="zoro-group">
                    <div class="zrg-list">
            </div> 
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
    <div class="footer-az">
        <div class="block mb-3">
        <div class="clearfix"></div></div>
        <div class="about-text">HaiKei does not store any files on our server, we only share link to the media which is hosted on 3rd party services.</div>
            <p class="copyright">Copyright © 2022 HaiKei. All Rights Reserved</p>
        </div>
            <a class="footer-link" href="https://github.com/wearrrrr/HaiKei">Github Repo</a>
            <div class="gap"></div>
            <a class="footer-link" href="https://discord.gg/UqUknYhxBj">Join the discord!</a>
            <div class="gap"></div>
        </div>
    </div>
<div id="mask-overlay"></div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function () {
    $("#xheader_browser").click(function (e) {
        $("#xheader_menu, #xheader_browser").toggleClass("active");
    });
        $(".register-tab-link").click(function (e) {
        $("#modal-tab-register").addClass("active show"),
        $("#modal-tab-login").removeClass("active show");
    })
        $(".forgot-tab-link").click(function (e) {
        $("#modal-tab-forgot").addClass("active show"),
        $("#modal-tab-login").removeClass("active show");
    }),
        $(".login-tab-link").click(function (e) {
        $("#modal-tab-login").addClass("active show"),
        $("#modal-tab-register, #modal-tab-forgot").removeClass("active show");
    })
});
    let vidSource = localStorage.getItem('videoSource')
    if (vidSource === undefined || vidSource === null || vidSource.length === 0) {
       localStorage.setItem('videoSource', "gogoanime")
    }
    
    let continueWatching = localStorage.getItem('continueWatching')
    if (continueWatching === undefined || continueWatching === null || continueWatching.length === 0) {
       localStorage.setItem('continueWatching', "")
    }
</script>
</script>
<% if (loginState == true) { %>
<script>
    document.getElementById('videoSource').addEventListener("change", () => {
        localStorage.setItem('videoSource', event.target.value)
        window.location.reload()
    })
    let getVids;
    if (vidSource == "zoro") {
        document.getElementById('zoro').selected = "selected"
        getVids = document.querySelectorAll('.splide__slide > a')
        for (var i=0; i < getVids.length; i++) {
            getVids[i].href = getVids[i].href + "/zoro"
        }
    } else {
        document.getElementById('gogoanime').selected = "selected"  
    }
    let fetchData;
    fetch('https://cors.haikei.xyz/https://api.haikei.xyz/anime/gogoanime/info/' + continueWatching)
    .then((response) => response.json())
    .then((data) => fetchData = data)
    .then(() => console.log(fetchData))
    .then(() => {
        let continueWatchingDiv = document.createElement('li')
        continueWatchingDiv.className = "splide__slide"
        let continueWatchingLink = document.createElement('a')
        continueWatchingLink.className = "continueWatchingLink"
        continueWatchingLink.href = '/watch/' + fetchData.id + '-episode-' + localStorage.getItem('continueWatchingEp')
        continueWatchingDiv.appendChild(continueWatchingLink)
        let continueWatchingImg = document.createElement('img')
        continueWatchingImg.src = fetchData.image
        continueWatchingImg.width = "164"
        continueWatchingImg.height = "231"
        continueWatchingDiv.appendChild(continueWatchingImg)
        let continueWatchingText = document.createElement('p')
        continueWatchingText.textContent = fetchData.title
        continueWatchingText.className = "splide__animeTitle"
        continueWatchingDiv.appendChild(continueWatchingText)
        let continueWatchingEpisode = document.createElement('p')
        continueWatchingEpisode.className = "splide__episodeNum"
        continueWatchingEpisode.textContent = "Episode: " + localStorage.getItem('continueWatchingEp')
        continueWatchingDiv.appendChild(continueWatchingEpisode)
        let continueGridWrapper = document.getElementById('continue-watching-grid')
        continueGridWrapper.appendChild(continueWatchingDiv)
    })
</script>
<% } %>
<script src="/js/main.js"></script>
<!-- <script src="./js/recent-release.js"></script> -->
</body>
</html>