<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Watch anime for free at HaiKei.xyz! Watch One Piece, Demon Slayer, Dragon Ball, Nier Automata, Miss Kobayashi's Dragon Maid and more at HaiKei.xyz!">
    <meta property="og:title" content="Home - HaiKei.xyz" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://haikei.xyz" />
    <meta property="og:description" content="Watch anime for completely free online at haikei.xyz! No ads forever!" />
    <meta property="og:image" content="/img/logo.png" />
    <title>Home - HaiKei</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://site-assets.fontawesome.com">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/css/index-redesign.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="/vendor/swiper.js/swiper-bundle.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="full-doc">
    <%- include("./templates/sidenav.ejs") %>
    <%- include("./templates/navbar.ejs") %>
    <div class="swiper">
    <div class="swiper-wrapper">
        <% trendingAnime.forEach(card => { %>
            <div class="swiper-slide">
                <div loading="lazy" class="background-image" style="background-image: url('<%- card.image %>')"></div>
                <div class="show-info">
                    <h1 class="title hidden jp-title"><%- card.title.romaji %></h1>
                    <h1 class="title eng-title"><%- card.title.english %></h1>
                    <div class="description">
                        <%- card.description.replace("(Source: HIDIVE)", "").replace("(Source: Crunchyroll)", "").replace("(Source: Anime News Network)", "") %>
                    </div>
                    <div class="emblem-info">
                        <% if (card.status == "Completed") { %>
                            <div class="status"><i class="fa-solid fa-check"></i> <%- card.status %></div>
                        <% } else { %>
                            <div class="status"><i class="fa-regular fa-clock"></i> <%- card.status %></div>
                        <% } %>
                        
                        <div class="release-date"><i class="fa-regular fa-calendar"></i> <%- card.releaseDate %></div>
                        <div class="type"><i class="fa-light fa-tv-retro"></i> <%- card.type %></div>
                    </div>
                    <div class="btn-wrapper">
                        <div class="play-btn"><a href="/watch/anilist/<%- card.malId %>"><i class="fa-solid fa-play"></i> Play Now</a></div>
                    </div>
                </div>
            </div>
        <% }) %> 
    </div>
    <div class="swiper-pagination"></div>
    </div>
    <br>
    <div class="new-releases">
        <div class="recent-releases-grid">
            <% recentReleases.forEach(card => { %>
                <div class="splide__slide">
                <a aria-label="<%- card.episodeId %>" class="searchLink" href="/watch/anilist/<%- card.malId %>"></a>
                    <img loading="lazy" src="<%- card.image %>" alt="<%- card.title %>" style="width: 148px; height: 208px; align-self: center"> 
                    <p class="splide__animeTitle"><%- card.title.romaji %></p>
                    <p class="splide__episodeNum">Episode: <%- card.episodeNumber %></p>
                </div>
            <% }) %>
        </div>
    </div>

<div id="login">
<form method="POST" action="/login/password">
    <h2 class="modal-title">Login to HaiKei</h2>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="returnURL" value="<%= url %>">
    <div class="modal-input-container">
        <input type="text" class="form-control" id="username" placeholder="username" name="username" required>
        <input id="password" placeholder="password" name="password" required autocomplete="on" type="password">
    </div>
    <div class="remember-me-container">
        <input value="true" name="remember" type="checkbox" class="custom-control-input" id="remember">
        <label for="remember" class="custom-control-label">Remember me</label>
    </div>
    <div class="btn-container">
        <button class="modal-btn">Login</button>
    </div>
</form>
</div>
<% if(loginState == true) { %>
    <div id="userInfo">
        <h2 class="modal-title">Welcome Back, <%- username %>!</h2>
        <form method="POST" action="/logout">
            <div class="btn-container">
                <button type="submit" class="modal-btn">Logout</button>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="returnURL" value="<%= url %>">
        </form>
        <div class="input-wrapper">
        <label style="margin-bottom: 0; margin-right: 5px;" for="videoSource">Video Source:</label>
        <select class="videoSourceSelector" name="videoSource" id="videoSource">
            <option id="gogoanime" value="gogoanime">Gogoanime</option>
            <option id="zoro" value="zoro">Zoro</option>
        </select>
        <br>
        <label style="margin-bottom: 0; margin-right: 5px;" for="videoSource">Enable Ads:</label>
        <select class="adSelector" name="adSelector" id="adSelector">
            <option id="ads-enabled" value="false">Ads Enabled (supports the creator!)</option>
            <option id="ads-disabled" value="true">Ads Disabled</option>
        </select>
        </div>
    </div>
<% } %>


<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js" integrity="sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js" integrity="sha512-wdUM0BxMyMC/Yem1RWDiIiXA6ssXMoxypihVEwxDc+ftznGeRu4s9Fmxl8PthpxOh5CQ0eqjqw1Q8ScgNA1moQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   
<script src="/js/index.js"></script>
<% if(loginState == true) { %>
<script>
    let vidSource = localStorage.getItem('videoSource')
    if (vidSource === undefined || vidSource === null || vidSource.length === 0) {
       localStorage.setItem('videoSource', "gogoanime")
    }
    
    let continueWatching = localStorage.getItem('continueWatching')
    if (continueWatching === undefined || continueWatching === null || continueWatching.length === 0) {
       localStorage.setItem('continueWatching', "")
    }
    document.getElementById('videoSource').addEventListener("change", () => {
        localStorage.setItem('videoSource', event.target.value)
        window.location.reload()
    })
    let isAds = localStorage.getItem('_noads')
    if (isAds === undefined || isAds === null || isAds.length === 0) {
       localStorage.setItem('_noads', "false")
    }
    document.getElementById('adSelector').addEventListener("change", () => {
        localStorage.setItem('_noads', event.target.value)
        window.location.reload()
    })
    if (isAds == "true") {
        document.getElementById('ads-disabled').selected = "selected"
    } else {
        document.getElementById('ads-enabled').selected = "selected"
    }
    let getVids;
    if (vidSource == "zoro") {
        document.getElementById('zoro').selected = "selected"
        getVids = document.querySelectorAll('.splide__slide > a')
        for (var i=0; i < getVids.length; i++) {
            getVids[i].href = getVids[i].href + "/zoro"
        }
    } else {
        document.getElementById('gogoanime').selected = "selected"  
    }
</script>
<% } %>
</body>
</html>