<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results for <%= query %></title>
    <link rel="stylesheet" href="/css/m.min.css">
    <link rel="stylesheet" href="/css/watchpage.css">
    <link rel="stylesheet" href="/css/index-redesign.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/css/iziModal.css" integrity="sha512-uZ+G0SzK4GMUDUzxzbIeLGLjYgAhQ2KrIV4bWIP5o6URt5XVcn8S02eW6C1DH35bqq/XX1jYwlhhNPPIE1+q1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./templates/sidenav.ejs") %>
    <%- include("./templates/navbar.ejs") %>
</div>
    <h1 style="margin-top: 50px; margin-left: 20px; margin-bottom: 20px;" class="header">Search Results for: "<%= query %>"  </h1>
    <div class="new-releases">
    <div class="grid-container">
        <% searchData.forEach((searchData) => { %>
                <li class="splide__slide">
                <a class="searchLink" href="/watch/<%-searchData.malId %>"></a>
                    <img style="width: 164px; height: 231px; align-self: center;" src="<%- searchData.image %>" alt="<%- searchData.title.romaji %>">
                    <p style="margin-top: 30px;" class="splide__animeTitle search_result"><%- searchData.title.romaji  %></p>
                </li>	
        <% }) %>
            </ul>
    </div>
    </div>
    <%- include("./templates/user-modals.ejs") %>
<script src="/js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.6.1/js/iziModal.min.js" integrity="sha512-lR/2z/m/AunQdfBTSR8gp9bwkrjwMq1cP0BYRIZu8zd4ycLcpRYJopB+WsBGPDjlkJUwC6VHCmuAXwwPHlacww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/modals.js"></script>
<script>
    $(document).ready(function () {
    $("#xheader_browser").click(function (e) {
        $("#xheader_menu, #xheader_browser").toggleClass("active");
    });
});
</script>
<%- include('templates/footer') %>
</body>
</html>